<div class="content">
	
	<header class="masthead">
	  <div class="inner">
			<p class="introducing">{Introducing}</p>
	    <h1>{code} ↦ CodeRippa ↦ {PDF}</h1>
	    <p class="pitch">
				<%= image_tag "ripit.png" %><br/>
				Convert <em>any</em> source code into a <em>beautiful</em> PDF. Works on almost <em>150+</em> languages, with customizable <em>30+</em> themes!</p>
			<div>
			</div>
	    <p class="github-info">
	      <a href="https://github.com/benjamintanweihao/code_rippa" class="btn btn-primary btn-large">View project on GitHub</a>
	      <a class="btn btn-large btn-danger" href="home/instructions">Instructions</a>
	      <a class="btn btn-large" href="https://s3.amazonaws.com/code-rippa/flask.pdf">See a sample<small> 1.3MB</small></a>
	    </p>
	  </div>
	</header>
	
	<div class="github-buttons" align="center">
		<iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=benjamintanweihao&repo=coderippa&type=fork&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="146px" height="30px"></iframe>
		<iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=benjamintanweihao&repo=coderippa&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="146px" height="30px"></iframe>
	</div>

	<div class="promo">
		<h1 class="promo">Be a better programmer.</h1>
		<p class="marketing-byline">(Or why CodeRippa exists.)</p>
		<p class="gospel">
			We don't take the time to study the code written by the <em>masters</em>. I have absolutely no idea how <em>vim</em> works, neither do I know all the magic that goes behind <em>Rails</em>, or how <em>Coffee-script</em> is written in <em>Coffee-script</em> and <em>Rubinus</em> is written in <em>Ruby</em> ... You get the idea.<br/><br/> <strong>CodeRippa</strong> is my attempt to make source code reading a more pleasurable experience, and help programmers get better at their craft.
		</p>
		<h1 class="promo">Features</h1>
		
		<div class="row">
	    <div class="span4">
				<h2>PDF Bookmarks</h2>
 				<p class="promo-desc">
					The resulting PDF has a table of contents that reflects the directory structure of the project folder.
					<%= image_tag "bookmarks.png" %>
				</p>
	    </div>
			<div class="span4">
				<h2>Eye-Candy</h2>
 				<p class="promo-desc">
					Choose from over 30+ TextMate themes: Cobalt, Mac Classic, Sunburst, Twilight, VibrantInk ...
					<%= image_tag "syntax.png" %>
				</p>
	    </div>
	    <div class="span4">
				<h2>Language Support</h2>
 				<p class="promo-desc">
					Actionscript, Bash, C, Erlang, Haskell, Ruby, Python, Prolog ... CodeRippa can handle it all.
					<%= image_tag "polyglot.png" %>				
				</p>
	    </div>
			<hr class="soften">
  	</div><!--/row-->
	</div><!--/promo>->
</div><!--/content-->

