<div class="content">
	<h1 class="title">Instructions</h1>
	
	<div class="row instructions">
    <div class="span4">
			<h2>Step 1</h2>
			<p>
				<h4>Pre-installation checklist:</h4>
				Please make sure you have the following installed.
				<ol>
					<li>Ruby 1.9.x</li>
					<li>pdflatex</li>
				<ol>
			</p>
		</div>
		<div class="span4">
			<h2>Step 2</h2>
			<p>
				<h4>Install the gem</h4>
				From the terminal, do the usual:<br/>
				<code lang="ruby">gem install code-rippa</code>
			</p>
		</div>
	
		<div class="span4">
			<h2>Step 3</h2>
			<p>
				<h4>Start Rippin'!</h4>
				Once the install completes:
				<ol>
					<li>
						<code>
							code-rippa SRC_DIR_PATH
						</code>
					</li>
					<li>
						<code>
						pdflatex out.tex
						</code>
					</li>
					<li>
						open
						<code> out.pdf</code>
						in your favorite pdf viewer/tablet
					</li>
				</ol>
			</p>
		</div>
	</div>
</div>